@import './theme/theme.css';

/* CSS Reset (minimal) */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }

:root {
  color-scheme: light dark;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

/* Layout helpers */
.app-root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
